spring.application.name=ipr-trustchain-backend

# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/ipr_trustchain_backend
spring.datasource.username=YOUR_DATABASE_USERNAME
spring.datasource.password=YOUR_DATABASE_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA Configuration
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

# Server
server.port=8080

# Logging
logging.level.com.iprtrustchain=DEBUG
logging.level.org.springframework.security=INFO

# JWT Configuration
jwt.secret=YOUR_JWT_SECRET
jwt.expiration=86400000


# Gmail SMTP Configuration

spring.mail.host=smtp.gmail.com
spring.mail.port=587

spring.mail.username=YOUR_GMAIL_ADDRESS
spring.mail.password=YOUR_GMAIL_APP_PASSWORD

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.mail.properties.mail.smtp.starttls.required=true

spring.mail.properties.mail.smtp.connectiontimeout=5000
spring.mail.properties.mail.smtp.timeout=5000
spring.mail.properties.mail.smtp.writetimeout=5000